<form id="formCadastro" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 010.011.111-00" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nacionalidade">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CEP">CEP:</label>
                <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="SP">São Paulo</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cidade">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Logradouro">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Telefone">Telefone:</label>
                <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">Beneficiários</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Conteúdo do modal -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <!-- Formulário com dois inputs -->
                <form>
                    <div class="row">
                        <div style="margin-left: 10px">
                            <div class="col-md-4 col-xs-3">
                                <div class="">
                                    <label for="CPFBeneficiario">CPF:</label>
                                    <input required="required" type="text" class="form-control" id="CPFBeneficiario" name="CPFBeneficiario" placeholder="Ex.: 010.011.111-00" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-3">
                                <div class="">
                                    <label for="NomeBeneficiario">Nome:</label>
                                    <input required="required" type="text" class="form-control" id="NomeBeneficiario" name="NomeBeneficiario" placeholder="Ex.: João da silva" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-3">
                                <div class="" style="margin-top: 27px;">
                                    <button type="button" class="btn btn-sm btn-success" onclick="adicionarBeneficiario()">Incluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>CPF</th>
                                        <th>Nome</th>
                                    </tr>
                                </thead>
                                <tbody id="tabelaBeneficiarios">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <script>

                        // Contador para gerar IDs únicos para as linhas da tabela
                        var idCount = 0;

                        function adicionarBeneficiario() {
                            var cpf = $('#CPFBeneficiario').val();
                            var nome = $('#NomeBeneficiario').val();

                            // Verifica se os campos estão preenchidos
                            if (cpf.trim() === '' || nome.trim() === '') {
                                alert('Por favor, preencha todos os campos.');
                                return; // Impede a adição do beneficiário se os campos estiverem vazios
                            } 

                            var beneficiario = listaBeneficiarios.find(d => d.CPF.trim() == cpf.trim());

                            if (beneficiario != null) {
                                alert('Beneficiario com CPF já cadastrado.');
                                return; // Impede a adição do beneficiário 
                            }

                            // Adiciona o beneficiário à lista
                            listaBeneficiarios.push({ id: idCount++, CPF: cpf, Nome: nome });

                            // Atualiza a tabela de beneficiários
                            atualizarTabelaBeneficiarios();

                            // Limpa os campos de input após adicionar à lista
                            $('#CPFBeneficiario').val('');
                            $('#NomeBeneficiario').val('');
                        }

                        // Função para atualizar a tabela de beneficiários
                        function atualizarTabelaBeneficiarios() {
                            var tabela = $('#tabelaBeneficiarios');
                            tabela.empty(); // Limpa a tabela antes de adicionar os itens

                            // Adiciona os beneficiários à tabela
                            listaBeneficiarios.forEach(function (beneficiario) {
                                tabela.append('<tr id="' + beneficiario.id + '"><td>' + beneficiario.CPF + '</td><td>' + beneficiario.Nome +
                                    '</td><td> <button type="button" class="btn btn-sm btn-primary" onclick="alterarBeneficiario(' + beneficiario.id + ')">Alterar</button>' +
                                    '<button type="button" class="btn btn-sm btn-danger" onclick="excluirBeneficiario(' + beneficiario.id + ')">Excluir</button></td> </tr>');
                            });
                        }

                        // Função para excluir um beneficiário
                        function excluirBeneficiario(id) {
                            // Remove o beneficiário da lista com base no ID
                            listaBeneficiarios = listaBeneficiarios.filter(function (item) {
                                return item.id !== id;
                            });

                            // Atualiza a tabela de beneficiários
                            atualizarTabelaBeneficiarios();
                        }

                        //Função alterar beneficiario 
                        function alterarBeneficiario(id) {
                            // Remove o beneficiário da lista com base no ID
                            var beneficiario = listaBeneficiarios.find(d => d.id == id);

                            $('#CPFBeneficiario').val(beneficiario.CPF);
                            $('#NomeBeneficiario').val(beneficiario.Nome)

                            // Atualiza a tabela de beneficiários
                            atualizarTabelaBeneficiarios();
                        }
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>